body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 40px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.login-box .btn {
  width: 100%;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.login-box .btn:hover {
  background: #03a9f4;
  border-color: #03a9f4;
}

.login-box a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
